body {
  margin-left: 50px;
  margin-top: 20px;

}

#pantheon-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

#new-item-form {
  padding: 20px 30px 30px 30px;
  margin: 20px;
  width: 250px;
  font-family: "Proxima Soft", Futura;
  display: flex;
  flex-direction: column;
  background-color: #94AE89;
  color: white;
  border-radius: 30px;

}

#form-wrapper p {
  margin-top: 10px;
  font-weight: bold;
  margin-left: 0px;
}

#title {
  font-family: "Proxima Soft", Futura;
  text-transform: uppercase;
  margin-left: 30px;
  color: #DCAB6B;
}

#delete-all {
  margin-left: 20px;
}

#radio-label {
  width: 100px;
  margin: 0px;
}

.form-item {
   margin-bottom: 10px;
   width: 250px;
   display: flex;
   justify-content: space-between;
}

.gen-choice {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.radio-choice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.submit-button {
  display: flex;
  justify-content: center;
}

input[type=submit] {
    padding:5px 15px;
    font-family: "Proxima Soft", Futura;
    font-size: 15px;
    color: #94AE89;
    text-transform: uppercase;
    background-color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 10px;
    border-radius: 8px;

}

input[type=submit]:hover {
  color: white;
  background-color: #EAC435;
}

#delete-all {
  margin-left: 120px;
  padding:5px 15px;
  font-family: "Proxima Soft", Futura;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  background-color: #E59299;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 10px;
  border-radius: 8px;
}

#delete-all:hover {
  color: white;
  background-color: #CC2936;
}




.pantheon-list-item {
  border-radius: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
  width: 280px;
  background: #ddeaff;
  color: white;
  font-family: "Proxima Soft", Futura;
}

/* domains */

.sky {
  background: #6B818C;
}

.war {
  background: #CC2936;
}

.magic {
  background: #AC80A0;
}

.underworld {
  background: #63585E;
}

.hearth {
  background: #F1BF98;
}

.ocean {
  background: #08415C;
}

.sun {
  background: #EAC435;
}

.earth {
  background: #94AE89;
}

/* generations */

#olympian h2 {
  color: white;
  padding: 15px 20px;
  background-color: #EAC435;
  border-radius: 20px;
}

#olympian-p {
  width: 110px;
  margin: 0px;
  background-color: #EAC435;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

#olympian {
  border-color: #EAC435;
  border-style: solid;
  border-width: 8px;
}

#titan {
  border-color: #CC2936;
  border-style: solid;
  border-width: 8px;
}

#titan h2 {
  padding: 15px 20px;
  background-color: #CC2936;
  border-radius: 20px;
  color: white;
}

#titan-p {
  width: 60px;
  margin: 0px;
  background-color: #CC2936;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

#primordial {
  border-color: #BFBFBF;
  border-style: solid;
  border-width: 8px;
}

#primordial h2 {
  padding: 15px 20px;
  background-color: #BFBFBF;
  border-radius: 20px;
  color: white;
}

#primordial-p {
  width: 120px;
  margin: 0px;
  background-color: #BFBFBF;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}



h2 {
  font-size: 30px;
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
}

.sky h2 {
  color: #6B818C;
}

.war h2 {
  color: #CC2936;
}

.underworld h2 {
  color: #63585E;
}

.hearth h2 {
  background: #F1BF98;
}

.ocean h2 {
  color: #08415C;
}

.sun h2 {
  color: #EAC435;
}

.earth h2 {
  color: #94AE89;
}

h3 {
  font-size: 25px;
  margin-left: 10px;
}

p {
  margin: 20px 0px;
  font-size: 25px;
  margin-left: 10px;
}
